Options FollowSymLinks
RewriteEngine On

RewriteRule ^home$ public_files/index.php [NC]
RewriteRule ^about$ public_files/about.php [NC]
RewriteRule ^admin$ public_files/admin.php [NC]
RewriteRule ^buy$ public_files/buy.php [NC]

RewriteRule ^admin/content/edit/([0-9]{1,3})$ public_files/admin_content.php?action=edit&id=$1 [NC]
RewriteRule ^admin/content$ public_files/admin_content.php?action=home [NC]
RewriteRule ^admin/content/new$ public_files/admin_content.php?action=new [NC]

RewriteRule ^admin/users/edit/([0-9]{1,3})$ public_files/admin_users.php?action=edit&id=$1 [NC]
RewriteRule ^admin/users$ public_files/admin_users.php?action=home [NC]
RewriteRule ^admin/users/new$ public_files/admin_users.php?action=new [NC]

RewriteRule ^admin/manufacturers/edit/([0-9]{1,3})$ public_files/admin_manufacturers.php?action=edit&id=$1 [NC]
RewriteRule ^admin/manufacturers/new$ public_files/admin_manufacturers.php?action=new [NC]
RewriteRule ^admin/manufacturers$ public_files/admin_manufacturers.php?action=home [NC]


RewriteRule ^admin/products/edit/([0-9]{1,3})$ public_files/admin_products.php?action=edit&id=$1 [NC]
RewriteRule ^admin/products/new$ public_files/admin_products.php?action=new [NC]
RewriteRule ^admin/products$ public_files/admin_products.php?action=home [NC]

RewriteRule ^admin/items/edit/([0-9]{1,3})$ public_files/admin_items.php?action=edit&id=$1 [NC]
RewriteRule ^admin/items/new$ public_files/admin_items.php?action=new [NC]
RewriteRule ^admin/items$ public_files/admin_items.php?action=home [NC]

RewriteRule ^admin/types/edit/([0-9]{1,3})$ public_files/admin_types.php?action=edit&id=$1 [NC]
RewriteRule ^admin/types/new$ public_files/admin_types.php?action=new [NC]
RewriteRule ^admin/types$ public_files/admin_types.php?action=home [NC]


RewriteRule ^admin/sizes/edit/([0-9]{1,3})$ public_files/admin_sizes.php?action=edit&id=$1 [NC]
RewriteRule ^admin/sizes/new$ public_files/admin_sizes.php?action=new [NC]
RewriteRule ^admin/sizes$ public_files/admin_sizes.php?action=home [NC]


RewriteRule ^admin/media/edit/([0-9]{1,3})$ public_files/admin_media.php?action=edit&id=$1 [NC]
RewriteRule ^admin/media/new/([0-9]{1,3})$ public_files/admin_media.php?action=new&id=$1 [NC]
RewriteRule ^admin/media/delete/([0-9]{1,3})$ public_files/admin_media.php?action=delete&id=$1 [NC]
RewriteRule ^admin/media$ public_files/admin_media.php?action=home [NC]


RewriteRule ^admin$ public_files/admin.php [NC]
RewriteRule ^admin/login$ public_files/admin_login.php [NC]
RewriteRule ^admin/logout$ public_files/admin_login.php?logout [NC]


ErrorDocument 404 "http://localhost/trzewiki/home"
  